body, html {
    margin: 0;
}

.r-pg {
    margin: 0 auto;
    /* width: 375px; */
    width: 100%;
    height: 100vh;
    position: relative;
    box-shadow: 0 0 5px #1e1d1d74;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1e1d1d;
    padding-top: 35px;
}

.r-container {
    margin: 0 auto;
    max-width: 300px;
    position: relative;
    padding-top: 50px;
}

.r-img {
    background-image: url("https://images.unsplash.com/photo-1581810223086-68918e9241ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=976&q=80");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 171.56px;
    width: 300px;
    margin: 50px 0 35px 0;
}

.adr {
    font-size: 10.72px;
    margin-bottom: 35px;
}

.adr-head {
    font-weight: bold;
    margin-bottom: 5px;
}

.desc a {
    text-decoration: none;
    color: #789174;
}