#up_page {
    width: 375px;
    height: auto;
    border: #000 1px solid;
    position: relative;
    margin: 0 auto;
}

#up_container {
    margin: 75px 0 75px 35px;
    max-width: 300px;
}

#up_logo {
    width: 75px;
    height: 75px;
    background-color: #D2DAC3;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#up_form {
    margin: 25px 0 50px 0;
}

.up_question_container {
    margin-bottom: 50px;
}

.display_flex {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.up_circle {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

#up_food, #up_social {
    background-color: #ED8733;
}

#up_product, #up_ethical, #up_individual {
    background-color: #789174;
}

#up_environmental {
    background-color: #476140;
}

#up_health {
    background-color: #B55139;
}

#up_button {
    display: flex;
    justify-content: center;
}