.recipe-pg {
    width: 375px;
    height: auto;
    box-shadow: 0 0 5px #1e1d1d74;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1e1d1d;
}

.rp-container {
    max-width: 300px;
    position: relative;
}

.rp-details {
    text-align: center;
    font-weight: bold;
    font-size: 10.72px;
    color: #1e1d1d40;
}

img {
    max-width: 300px;
    object-fit: contain;
    margin: 35px 0;
}

.rp-favourite {
    display: flex;
    align-items: center;
    margin: -20px 0 35px 0;
}

.fav-icon {
    background-color: #e6cf2573;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.fav-text {
    color: #1e1d1d73;
    font-weight: bold;
    font-size: 10.72px;
}

.rp-desc {
    margin-bottom: 35px;
    line-height: 24px;
    font-size: 14px;
}

.r-ingredients {
    font-size: 10.72px;
    font-weight: bold;
    color: #789174;
}

.line {
    background-color: #d2dac3;
    width: 300px;
    height: 1px;
    margin: 35px 0;
}

.gry-btn {
    margin-bottom: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar {
    position: relative;
    width: 375px;
}