body, html {
    margin: 0;
    overflow-x: hidden;
}

#favourites_page {
    margin: 0 auto;
    width: 375px;
    height: auto;
    box-shadow: 0 0 5px #1e1d1d74;
    position: relative;
}

#favourites_header {
    display: flex;
    align-items: center;
    margin: 50px 0 100px 40px;
    border-bottom: solid 1px #D2DAC3;
    padding-bottom: 15px;
    width: 300px;
}

#favourite-star-icon {
    width: 25px;
    height: 25px;
    background-color: #E6CF25;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

#favourites_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-bar {
    position: absolute;
    bottom: 0;
}