body {
    margin: 0;
}

#favourites_page {
    width: 375px;
    height: 812px;
    border: #000 1px solid;
    position: relative;
}

#favourites_header {
    display: flex;
    align-items: center;
    margin: 50px 0 100px 40px;
}

#favourite-star-icon {
    width: 25px;
    height: 25px;
    background-color: #E6CF25;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

#favourites_box {
    display: flex;
    justify-content: center;
}