/* .cd-container {
} */

.top, .bottom {
    display: flex;
}

.text {
    text-align: center;
    font-weight: bold;
    color: #789174;
    margin-top: 15px;
}

.rec, .rest, .store {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    cursor: pointer;
}

.rec-icon, .rest-icon, .store-icon {
    background-color: #ed8733;
    box-shadow: 0 0 5px #00000029;
    border-radius: 50px;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}