body {
    margin: 0 auto;
}

#home_page {
    width: 375px;
    height: 812px;
    position: relative;
}

#home_logo img {
    display: flex;
    text-align: center;
    height: 120px;
    margin: 5% auto;
    margin-top: 100px;
    margin-bottom: 30px;
}

#home_header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#home_copy {
    display: flex;
    align-items: center;
    justify-content: center;
}

#home_button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 170px 0 15px;
}

#home_signin {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #789174;
    font-weight: bold;
}



/* display: flex;
align-itmes: center;
justify-content: center; */