body, html {
    margin: 0;
    overflow-x: hidden;
}

#homecd_page {
    margin: 0 auto;
    width: 375px;
    height: 820px;
    box-shadow: 0 0 5px #1e1d1d74;
    /* border: #000 1px solid; */
    padding-top: 35px;
    position: relative;
}

.homecd_head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

#homecd_settings {
    display: flex;
    align-items: center;
    padding: 20px 70px 20px 300px;
    cursor: pointer;
}

#homecd_user {
    display: inline-block;
    vertical-align: middle;
    /* margin-left: -10px; */
}

#homecd_header {
    display: inline-block;
    margin-left: 30px;
}

#homecd_greybutton {
    margin: 0 100px 30px 40px;
    cursor: pointer;
}

#homecd_categoriesdropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}