body, html {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

.home_page {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.head {
    /* border: 1px solid .000; */
    display: flex;
    justify-content: center;
    padding-top: 35px;
    margin-bottom: 50px;
}

.home_user {
    display: inline-block;
}

.home_user img {
    width: 75px;
}

.home_header {
    display: inline-block;
    margin-left: 30px;
}

.home_greybutton {
    margin: 0 100px 30px 40px;
    cursor: pointer;
}

.home_categorybox1 {
    cursor: pointer;
}

.home_categorybox1 img {
    margin: 0;
}

.home_categorybox2 {
    margin: 0 0 50px 0;
    cursor: pointer;
}

.home_categorybox2 img {
    margin: 0;
}