body, html {
    margin: 0;
    overflow-x: hidden;
}

#home_page {
    margin: 0 auto;
    margin-top: 5px;
    width: 375px;
    height: 1300px;
    box-shadow: 0 0 5px #1e1d1d74;
    position: relative;
}

.head {
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

#home_settings {
    display: flex;
    align-items: center;
    padding: 20px 70px 20px 300px;
    cursor: pointer;
}

#home_user {
    display: inline-block;
    vertical-align: middle;
    /* margin-left: -10px; */
}

#home_header {
    display: inline-block;
    margin-left: 30px;
}

#home_greybutton {
    margin: 0 100px 30px 40px;
    cursor: pointer;
}

#home_categorybox1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#home_categorybox1 img {
    margin: 0;
}

#home_categorybox2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

#home_categorybox2 img {
    margin: 0;
}

#home_more {
    color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}