body, html {
    margin: 0;
    overflow-x: hidden;
}

#settings_page {
    margin: 0 auto;
    width: 375px;
    height: 100vh;
    box-shadow: 0 0 5px #1e1d1d74;
    position: relative;
}

#settings_header {
    display: flex;
    align-items: center;
    margin: 0 0 0 40px;
    padding: 35px 0 15px 0;
    left: 50%;
    width: 300px;
}

#settings_icon {
    width: 25px;
    height: 25px;
    background-color: #789174;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

ul {
    list-style-type: none;
}

li {
    cursor: pointer;
}

ul li {
    padding: 15px 0 15px 0;
    font-weight: bold;
    border-top: 1px #D2DAC3 solid;
    margin-right: 35px;
}

#border-bottom {
    border-bottom: 1px #D2DAC3 solid;
}