#asu_page {
    width: 375px;
    height: auto;
    border: #000 1px solid;
    position: relative;
    margin: 0 auto;
}

#asu_container {
    margin: 75px 0 75px 35px;
    max-width: 300px;
}

#asu_logo {
    width: 75px;
    height: 75px;
    background-color: #D2DAC3;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#asu_form {
    margin: 25px 0 50px 0;
}

.asu_question_container {
    margin-bottom: 50px;
}

.display_flex {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.asu_circle {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

#asu_food, #asu_social {
    background-color: #ED8733;
}

#asu_product, #asu_ethical, #asu_individual {
    background-color: #789174;
}

#asu_environmental {
    background-color: #476140;
}

#asu_health {
    background-color: #B55139;
}

#asu_button {
    display: flex;
    justify-content: center;
}