.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fafafa;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu a {
    text-decoration: none;
    color: #789174;
    display: block;
    transition: 0.3s;
}

.menu a:hover {
    color: #476140;
}

.menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}

.openbtn {
    cursor: pointer;
    color: #789174;
    border: none;
    font-size: 35px;
}

.openbtn:hover {
    background-color: #476140;
}

#main {
    transition: margin-left .5s;
}