body, html {
    margin: 0;
    overflow-x: hidden;
}

#homec_page {
    margin: 0 auto;
    margin-top: 5px;
    width: 375px;
    height: 1300px;
    box-shadow: 0 0 5px #1e1d1d74;
    /* border: #000 1px solid; */
    position: relative;
    opacity: 50%;
}

/* #home_settings {
    width: 100%;
    position: relative;
} */

#homec_hamburgermenu {
    margin-right: 278px;
    position: absolute;
    top: 5px;
    right: 0;
}

/* #home_settings {
    display: inline;
    align-items: center;
    padding: 20px 70px 20px 300px;
} */

