html, body {
    margin: 0;
}

.bar {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #EFEEEB;
}

.container img {
    height: 30px;
    margin: 10px;
}
