html, body {
    margin: 0;
}

.bar {
    display: block;
    position: fixed;
    bottom: 0;
    width: 375px;
}

.container {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #EFEEEB;
}

#map, #home, #star, #gear {
    cursor: pointer;
}